<!-- PAGE FOOTER -->
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<span class="txt-color-white">
            <h1 class="fa fa-plus-square" style="margin-top:0px;" ng-click="newTodo()"> New</h1>
		</span>
	</div>

	<div class="col-xs-6 col-sm-6 text-right hidden-xs">
		<div class="txt-color-white inline-block">
			<i class="txt-color-blueLight hidden-mobile">Last account activity <i class="fa fa-clock-o"></i> <strong>52 mins ago &nbsp;</strong> </i>
			<div class="btn-group dropup">
				<button class="btn btn-xs dropdown-toggle bg-color-blue txt-color-white" data-toggle="dropdown">
					<i class="fa fa-link"></i> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right text-left">
					<li>
						<div class="padding-5">
							<p class="txt-color-darken font-sm no-margin">Download Progress</p>
							<div class="progress progress-micro no-margin">
								<div class="progress-bar progress-bar-success" style="width: 50%;"></div>
							</div>
						</div>
					</li>
					<li class="divider"></li>
					<li>
						<div class="padding-5">
							<p class="txt-color-darken font-sm no-margin">Server Load</p>
							<div class="progress progress-micro no-margin">
								<div class="progress-bar progress-bar-success" style="width: 20%;"></div>
							</div>
						</div>
					</li>
					<li class="divider"></li>
					<li>
						<div class="padding-5">
							<p class="txt-color-darken font-sm no-margin">Memory Load <span class="text-danger">*critical*</span></p>
							<div class="progress progress-micro no-margin">
								<div class="progress-bar progress-bar-danger" style="width: 70%;"></div>
							</div>
						</div>
					</li>
					<li class="divider"></li>
					<li>
						<div class="padding-5">
							<button class="btn btn-block btn-default">refresh</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- END PAGE FOOTER -->