<!-- User info -->
<div class="login-info">
    <span> <!-- User image size is adjusted inside CSS, it should stay as is -->
        <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
            <img src="img/avatars/sunny.png" alt="me" class="online"/>
            <span data-localize="john.doe">
                john.doe
            </span>
            <i class="fa fa-angle-down"></i>
        </a>
    </span>
</div>
<!-- end user info -->

<!-- NAVIGATION : This navigation is also responsive

To make this navigation dynamic please make sure to link the node
(the reference to the nav > ul) after page load. Or the navigation
will not initialize.
-->

<navigation>
    <nav:item data-view="/dashboard" data-icon="fa fa-lg fa-fw fa-home" title="Dashboard"/>
    <nav:item data-view="/inbox" data-icon="fa fa-lg fa-fw fa-list-alt" title="Inbox"/>
    <nav:item data-view="/today" data-icon="fa fa-lg fa-fw fa-check" title="Today"/>
    <nav:item data-view="/next" data-icon="fa fa-lg fa-fw fa-level-up" title="Next"/>
    <nav:item data-view="/scheduled" data-icon="fa fa-lg fa-fw fa-calendar" title="Scheduled"/>
    <nav:item data-view="/someday" data-icon="fa fa-lg fa-fw fa-inbox" title="Someday"/>
    <nav:item data-view="/projects" data-icon="fa fa-lg fa-fw fa-book" title="Projects"/>
</navigation>
<span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>