<!-- widget content -->

<div class="widget-body todo-list">

    <div class="panel-group smart-accordion-default" id="accordion">

        <newtodo></newtodo>

        <div class="panel panel-default" style="margin-bottom: 5px;">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                                           class="collapsed"> <i class="fa fa-lg fa-angle-down pull-right"></i> <i
                        class="fa fa-lg fa-angle-up pull-right"></i>
                    <input type="checkbox"/> Collapsible Group Item #2 </a></h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin-bottom: 5px;">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                                           class="collapsed"> <i class="fa fa-lg fa-angle-down pull-right"></i> <i
                        class="fa fa-lg fa-angle-up pull-right"></i>
                    <input type="checkbox"/> Collapsible Group Item #3 </a></h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>

</div>
<!-- end widget content -->

<script type="text/javascript">
    pageSetUp();
    /*
     * TAGS
     */
    loadScript("/static/js/plugin/bootstrap-tags/bootstrap-tagsinput.min.js");

</script>

<style>
    .todo-list {
        font-size: 14px;
    }

    .todo-list .panel-title{
        padding: 15px;
    }


    .todo-list .form-control {
        border: 1px solid lightgray;
    }

    .todo-list textarea {
        border: 1px solid lightgray;
    }

    .todo-list .lbl-icon {
        margin-top : 5px;
        margin-left: 20px;
        float: left;
        width: 24px;
    }

    .todo-list .lbl-cog {
        margin-top :12px;
    }

    .todo-list .form-group {
        margin-top: 3px;
    }

    .no-border {
        border: 0px;
    }

</style>