<div class="panel panel-default" style="margin-bottom: 5px;">
    <div class="panel-heading" style="background-color: #ffffff; border-bottom: 0px;">
        <div class="panel-title form-inline"
             style="background-color: #ffffff; border-bottom: 0px; padding: 5px;">
            <label class="checkbox" style="display:inline-block; width:20px;">
                <input type="checkbox"/>
                <i></i>
            </label>
            <label class="input title" style="display:inline-block; width: 90%;">
                <input class="input-xs title no-border" type="text" value="Collapsible Group Item #1"
                       data-parent="#accordion"
                       class="collapsed" href="#collapseOne" ng-dblclick="titleDblClick()" ng-model="title"/>
            </label>
        </div>
    </div>

    <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-heading" style="border-top: 0px;">
            <div class="row">
                <div class="form-group">
                    <div class="lbl-icon">
                        <span class="glyphicon glyphicon-tag"></span>
                    </div>
                    <div style="width:90%; float:left;">
                        <input class="form-control tagsinput" data-role="tagsinput" placeholder="   태그" ng-model="tags">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="lbl-icon">
                        <span class="glyphicon glyphicon-comment"></span>
                    </div>
                    <div style="width:90%; float:left;">
                        <textarea rows="3" style="width:100%;" class="custom-scroll" placeholder="   설명"
                                  ng-model="description"
                                  class="custom-scroll"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="lbl-icon">
                        <span class="glyphicon glyphicon-time"></span>
                    </div>
                    <div style="width:300px;">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="mydate" placeholder="마감일"
                                       class="form-control datepicker"
                                       data-dateformat="yy / mm / dd">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-left lbl-cog"><span class="glyphicon glyphicon-cog pull-right"></span>
                    </div>
                </div>
            </div>

            <button type="button" ng-click="save()">save</button>
        </div>
    </div>
</div>